<div class="sidebar_item">
	
	<div style="text-align: center;"> 
		User
		<h3><%= current_user.username %></h3>
		signed in
		<hr />
		<%= button_to "Logout", session_path(current_user.id), :method => :delete %>
		
	</div>
	
</div>
