<div class="sidebar_item">
<h3>Posts by tag</h3>

	<div class="tag">
	<% Tag.tags_count.each do |t| %>
		<%= link_to t.name+" ("+t.tag_count.to_s+")", show_tags_path(t.id) %><br />
	<% end %>
	</div>
</div>
