<div class="sidebar_item">
	<h3>Posting links:</h3>
	<%= link_to "New post", new_post_path %><br />
	<%= link_to "Unpublished posts", unpublished_path %>
</div>

<div class="sidebar_item">
	<h3>Posting tools</h3>
	
</div>

<div class="sidebar_item">
	<h3>Blogroll Tools</h3>
	<%= link_to "Add to blogroll", "#" %><br />
</div>
