* {
	padding: 0;
	margin: 0;
}

body {
	background: #939eca;
	text-align: center;
}

#wrapper_outer {
	width: 840px;
	margin: 0 auto;
	text-align: left;
	background-image: url("../images/background_main.jpg");
	background-repeat: repeat-y;		
}

#wrapper_inner {
	width: 798px;
	background: #fff;
	border-width: 0 1px 14px;
	border-color: black;
	border-style: solid;
	margin: 0 20px;
}

header {
	background: white;
	height: 120px;
}

header img {
	float: left;
	border: 0;
	margin-left: 30px;
	margin-top: 10px;
}

.title_text {
	float: left;
	font-family: Times, Georgia, serif;
	font-size: 38px;
	font-variant: small-caps;
	font-weight: bold;
	color: black;
	text-shadow: 0.1em 0.1em 0.05em grey;
	margin: 5px 0 0 60px;
	font-variant: normal;
	
}

.title_text_large {
	font-family: Times, Georgia, serif;
	padding-left: 48px;
	letter-spacing: 18px;
	font-size: 42px;
	font-style: italic;
	font-variant: small-caps;
}


#main_content {
	background: white;
}

#blog_content {
	float: left;
	width: 598px;
	min-height: 500px;
}

#sidebar {
	float: right;
	width: 200px;
	min-height: 500px;
}

footer {
	clear: both;
	background: #464E70;
	border-top: 4px solid #182761;
	color: #EDC8A3;
	min-height: 60px;
}
