* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #939eca;
	text-align: center;
	background-image: url("../images/body_bg.gif");
}

#wrapper_outer {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	background-image: url("../images/background_main.jpg");
	background-repeat: repeat-y;	
}

#wrapper_inner {
	width: 926px;
	background-color: #fff;
	border-width: 1px 3px;
	border-color: black;
	border-style: solid;
	margin: 0 14px;
}

.header {
	background-color: white;
	height: 160px;
}

.header img {
	float: left;
	border: 0;
	margin-left: 30px;
	margin-top: 10px;
}

.title_container {
	float: left;
	margin: 8px 0 0 60px;
	color: black;
	text-shadow: 0.2em 0.2em 0.12em #707070;
}

.title_text {
	font-family: Times, Georgia, serif;
	font-size: 38px;
	font-weight: bold;
	font-variant: normal;
	letter-spacing: 4px;
}

.title_text_large {
	font-family: Times, Georgia, serif;
	padding-left: 48px;
	letter-spacing: 18px;
	font-size: 42px;
	font-style: italic;
	font-variant: small-caps;
}

.title_sub_text {
	font-family: arial;
	font-size: 15px;
	padding-left: 5px;
	margin-top: -18px;
}

.nav {
	background-color: #464E70;
	border-width: 4px 0;
	border-color: #182761;
	border-style: solid;
	height: 25px;
}

.nav a {
	text-decoration: none;
}

.nav ul {
	list-style: none;
	margin-left: 30px;
}

.nav li {
	font-family: arial, console;
	line-height: 25px;
	font-size: 18px;
	color: #EDDF89;
	font-weight: bold;
	font-variant: small-caps;
	float: left;
	margin: 0 12px 0;
	padding: 0 12px;
	border-width: 0 2px;
	border-color: black;
	border-style: solid;
	background-color: #182761;
	display: block;
}

.nav li:hover {
	background-color: #EDDF89;
	color: #182761;
}

.nav li.current {
	background-image: url("../images/nav_current.gif");
	background-repeat: no-repeat;
	padding-left: 28px;
	background-color: #d0d0d0;
	color: #182761;
}

.nav li.current:hover {
	cursor: default;
}	

#main_content {
	background-image: url("../images/main_content_bg.gif");
}

#left_content {
	float: left;
	width: 686px;
	min-height: 500px;
	background-image: url("../images/main_content_bg.gif");
	border-right-width: 1px;
	border-right-color: black;
	border-right-style: solid;
}

#sidebar {
	float: right;
	width: 239px;
	min-height: 500px;
	background-image: url("../images/main_content_bg.gif");
}

.post {
	position: relative;
	float: left;
	width: 610px;
	background-color: #EDC8A3;
	background-color: rgba(237, 200, 163, 0.5);
	border: 3px solid #DB9E5F;
	min-height: 60px;
	padding: 8px;
	margin: 30px;
	-mox-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 6px 6px 6px black;
	-webkit-box-shadow: 6px 6px 6px black;
	box-shadow: 6px 6px 6px black;
	z-index: 1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.post .content {
	line-height: 26px;
	padding-top: 5px;
}

.post .footer_text {
	padding-top: 8px;
	font-size: 14px;
}

.date_flag {
	position: absolute;
	display: block;
	width: 40px;
	top: 10px;
	right: 622px;
	background-color: #EDE343;
	border: 2px solid #8E7F1F;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #182761;
	text-align: center;
	z-index: 2;
	-mox-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 2px 2px 2px black;
	-webkit-box-shadow: 2px 2px 2px black;
	box-shadow: -2px 2px 2px black;
}

.sidebar_item {
	position: relative;
	float: left;
	width: 178px;
	background-color: #ede343;
	background-color: rgba(147, 158, 202, 0.5);
	border: 3px solid #182761;
	min-height: 60px;
	padding: 8px;
	margin: 20px;
	-mox-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 6px 6px 6px black;
	-webkit-box-shadow: 6px 6px 6px black;
	box-shadow: 6px 6px 6px black;
	z-index: 1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.footer {
	clear: both;
	background-color: #464E70;
	border-top: 4px solid #182761;
	color: #EDDF89;
	min-height: 60px;
}
