* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #939eca;
	text-align: center;
	background-image: url("../images/body_bg.gif");
}

#wrapper_outer {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	background-image: url("../images/background_main.jpg");
	background-repeat: repeat-y;		
}

#wrapper_inner {
	width: 898px;
	background-color: #fff;
	border-width: 1px 3px;
	border-color: black;
	border-style: solid;
	margin: 0 30px;
}

.header {
	background-color: white;
	height: 160px;
}

.header img {
	float: left;
	border: 0;
	margin-left: 30px;
	margin-top: 10px;
}

.title_container {
	float: left;
	margin: 15px 0 0 60px;
	color: black;
	text-shadow: 0.1em 0.1em 0.05em grey;
}

.title_text {
	font-family: Times, Georgia, serif;
	font-size: 38px;
	font-weight: bold;
	font-variant: normal;
}

.title_text_large {
	font-family: Times, Georgia, serif;
	padding-left: 48px;
	letter-spacing: 18px;
	font-size: 42px;
	font-style: italic;
	font-variant: small-caps;
}

.title_sub_text {
	font-family: arial;
	font-size: 15px;
	padding-left: 5px;
	margin-top: -18px;
}

.nav {
	background-color: #464E70;
	border-width: 4px 0;
	border-color: #182761;
	border-style: solid;
	height: 25px;
}

.nav ul {
	list-style: none;
	margin-left: 30px;
}

.nav li {
	font-family: arial, console;
	line-height: 25px;
	font-size: 18px;
	color: #EDDF89;
	font-weight: bold;
	font-variant: small-caps;
	float: left;
	margin: 0 12px 0;
	padding: 0 12px;
	border-width: 0 2px;
	border-color: black;
	border-style: solid;
	background-color: #182761;
	display: block;
}

.nav li:hover {
	background-color: #EDDF89;
	color: #182761;
}

.nav li.current {
	background-image: url("../images/nav_current.gif");
	background-repeat: no-repeat;
	padding-left: 30px;
	background-color: #d0d0d0;
	color: #182761;
}

.nav li.current:hover {
	cursor: default;
}	

#main_content {
	background-color: white;
}

#blog_content {
	float: left;
	width: 658px;
	min-height: 500px;
	background-image: url("../images/main_content_bg.gif");
}

#sidebar {
	float: right;
	width: 239px;
	min-height: 500px;
	background-image: url("../images/main_content_bg.gif");
	border-left-width: 1px;
	border-left-color: black;
	border-left-style: solid;
}

.footer {
	clear: both;
	background-color: #464E70;
	border-top: 4px solid #182761;
	color: #EDDF89;
	min-height: 60px;
}
