* {
	padding: 0;
	margin: 0;
}

body {
	background: black;
	text-align: center;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	background: green;
	text-align: left;
}

header {
	background: grey;
	height: 120px;
}

#section1 {
	background: blue;
}

#blog_content {
	float: left;
	background: purple;
	width: 700px;
	min-height: 500px;
}

#sidebar {
	float: right;
	background: red;
	width: 260px;
	min-height: 500px;
}

footer {
	background: yellow;
	clear: both;
	height: 80px;
}
