<div class="post">
	<div class="date_flag">2011<br />05-21</div>
	<h1>Let's try h1!</h1>
	<h2>Testing title in h2<h2>
	<h3>subheader in h3</h3>
	<br />
	<p>blah blah blah</p>
	<p>blah blah blah</p>
	<p>blah blah blah</p>
	<p>blah blah blah</p>
</div>

<div class="post">
	<h2>Testing title<h2>
	<h3>subheader</h3>
	<br />
	<p>blah blah blah</p>
	<p>blah blah blah</p>
	<p>blah blah blah</p>
	<p>blah blah blah</p>
</div>

<div class="post">
	<div class="date_flag">2011<br />05-20</div>
	<h2>Testing title<h2>
	<h3>subheader</h3>
	<br />
	<p>blah blah blah</p>
	<p>blah blah blah</p>
	<p>blah blah blah</p>
	<p>blah blah blah</p>
</div>
