<% prev_date = nil %>
<% @posts.each do |post| %>			

<div class="post">

	<% curr_date = post.created_at.strftime("%d") %>
	<% if curr_date != prev_date then %>
		<%= date_flag(post.created_at) %>
		<% prev_date = curr_date %>
	<% end %>
	
	<%= render post %>
</div>
<% end %>
