<!-- Header partial for the entire blog applicatoin -->

<header>
	<%= link_to(image_tag("drunk_owl.jpeg", :alt=>"Drunk Owl | A Random FNORD logo"), root_path) %>
	
	<div class="title_text">&lt;%= a random<br />
	<span class="title_text_large">Fnord</span>%&gt;</div>
	
</header>
