<% # Header partial for the entire blog applicatoin %>
	<%= link_to(image_tag("drunk_owl.jpeg", :alt=>"Drunk Owl | A Random FNORD logo"), root_path) %>
	
	<div class="title_container">
		<div class="title_text">&lt;%= a random<br />
		<span class="title_text_large">Fnord</span>%&gt;</div><br />
		<div class="title_sub_text">an eclectic mix from the esoteric to the mundane</div>
	</div>
