<% # Sidebar partial for the entire blog applicatoin %>

<div class="sidebar_item">
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
</div>

<div class="sidebar_item">
<h2>test</h2>
<h3>sub-test</h3>
blah blah<br />
hehehe<br />
</div>
