<!-- Sidebar partial for the entire blog applicatoin -->

<div class="sidebar">
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
sidebar!<br />
</div>
