<!DOCTYPE html>

<html>

<head>
	<title>A Random FNORD <%=@title%></title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'test', :media => 'all' %>
</head>

<body>

<div id="wrapper">

	<header><h2>test this header</h2></header>
	
	<div id="section1">
		<div id="blog_content">
			<h3>title of blog post</h3>
			<p>blah blah blah blah</p>
			<br />
			<br />
		</div>
		
		<div id="sidebar">
			<h3>sidebar</h3>
			<p>sidebar stuff</p>
		</div>
	</div>

	<footer>
		<h2>asshat</h2>
	<footer>
	
</div>
	
</body>

</html>
